@media screen and (min-width: 1200px){
    .body{
        display: flex;
    }
    
    .juego{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        gap: 5rem;
    }   
    
    .header-titulo{
    text-align: center;
    color: var(--color-narajaVivo);
    }
    
    .canvas{
        grid-area:  1 / 1 / 3 / 2;
        width: 100%;
        padding: 1rem;
    }
    
    .canvas-letra{
        grid-area: 1 / 2 / 2 / 3;
        width: 100%;
        color: var(--color-verdeManzana);
        font-size: 2rem;
    }
    
    .canvas-palabra{
        grid-area: 2 / 2 / 3 / 3;
        width: 100%;
        color: var(--color-narajaVivo);
        font-size: 3rem;
    }

}